<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.luoshengsha.onegreen.mapper.ArticleMapper">
	<!-- 保存 -->
	<insert id="save" parameterType="article" keyProperty="id" useGeneratedKeys="true">
		insert into article(uuid,title,image_id,content,createTime,editTime,views,platform_id,status)
		values(#{uuid},#{title},#{image.id},#{content},#{createTime},#{editTime},#{views},#{platform.id},#{status})
	</insert>
	
	<!-- 更新 -->
	<update id="update" parameterType="article">
		update article set title=#{title},content=#{content},image_id=#{image.id},editTime=#{editTime} where uuid=#{uuid}
	</update>
	
	<!-- 删除 -->
	<delete id="delete" parameterType="string">
		delete from article where uuid=#{uuid}
	</delete>
	
	<!-- 根据uuid禁用文章（假删除） -->
	<update id="setStatus">
		update article set status=#{status} where uuid=#{uuid}
	</update>
	
	<!-- resultMap -->
	<resultMap type="article" id="articleResultMap">
		<id property="id" column="id"/>
		<association property="image" column="image_id" select="com.luoshengsha.onegreen.mapper.ImageMapper.find"/>
		<association property="platform" column="platform_id" select="com.luoshengsha.onegreen.mapper.PlatformMapper.find"/>
	</resultMap>
	
	<!-- 根据id查找 -->
	<select id="find" parameterType="string" resultMap="articleResultMap">
		select * from article where id=#{id}
	</select>
	
	<!-- 根据uuid查找 -->
	<select id="getByUuid" parameterType="string" resultMap="articleResultMap">
		select * from article where uuid=#{uuid}
	</select>
	
	<!-- 查询 -->
	<select id="query" parameterType="map" resultMap="articleResultMap">
		select * from article
		<where>
			<if test="platform != null">
				and platform_id=#{platform.id}
			</if>
		</where>
		<if test="orderBy != null">
			order by ${orderBy}
		</if>
		limit #{index},#{max}
	</select>
	
	<!-- 获取数量（与查询配合使用） -->
	<select id="getCount" parameterType="map" resultType="int">
		select count(*) from article
		<where>
			<if test="platform != null">
				and platform_id=#{platform.id}
			</if>
		</where>
	</select>
	
	<!-- 增加浏览次数 -->
	<update id="increaseViews" parameterType="string">
		update article set views =views+1 where uuid=#{uuid}
	</update>
	
	<!-- 获取多图文里的文章列表 -->
	<select id="getMutipleImageTextArticles" parameterType="string" resultMap="articleResultMap">
		select art.* from article art 
		left join mutipleImageText_article imagetext_art on imagetext_art.article_id=art.id
		where imagetext_art.mutipleImageText_id=#{mutipleImageText_id}
	</select>
</mapper>