<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.luoshengsha.onegreen.mapper.CustomerMapper">
	<!-- 保存客户 -->
	<insert id="save" parameterType="customer" keyProperty="id" useGeneratedKeys="true">
		insert into customer(customerId,name,password,realName,mobile,phone,fax,email,createTime,editTime,uuid)
		values(#{customerId},#{name},#{password},#{realName},#{mobile},#{phone},#{fax},#{email},#{createTime},#{editTime},#{uuid})
	</insert>
	
	<!-- 更新客户 -->
	<update id="update" parameterType="customer">
		update customer set realName=#{realName},mobile=#{mobile},phone=#{phone},fax=#{fax},email=#{email},editTime=#{editTime}
		where customerId=#{customerId}
	</update>
	
	<!-- resultMap -->
	<resultMap type="customer" id="customerResultMap">
		<id property="id" column="id"/>
		<association property="platform" column="id" select="getPlatform"/>
	</resultMap>
	
	<!-- 获取客户的公众平台 -->
	<select id="getPlatform" parameterType="string" resultType="platform">
		select * from platform where customer_id=#{customer_id}
	</select>
	
	<!-- 查找客户 -->
	<select id="find" parameterType="string" resultMap="customerResultMap">
		select id,customerId,name,password,realName,mobile,phone,fax,email,createTime,editTime,uuid 
		from customer 
		where id=#{id} or customerId=#{id}
	</select>
	
	<!-- 更新密码 -->
	<update id="updatePwd">
		update customer set password=#{new_password},uuid=#{uuid} where id=#{customer.id}
	</update>
	
	<!-- 根据用户名获取客户信息 -->
	<select id="getByAccount" parameterType="string" resultMap="customerResultMap">
		select id,customerId,name,password,realName,mobile,phone,fax,email,createTime,editTime,uuid 
		from customer
		where name=#{name}
	</select>
</mapper>