.content {
    margin-top: 5px;
    min-height: 400px;
}

.footer {
    background:#34495e;
    margin-top:50px;
    padding:20px 0;
    color:#fff;
}

.footer p {
    margin-bottom: 10px;
}

.help-block {
	color: #ff0000;
}

.alert {
	padding: 5px;
	font-size:16px;
}